@font-face {
    font-family: 'From the Woods';
    src: url('FromtheWoods-Regular.eot');
    src: url('FromtheWoods-Regular.eot?#iefix') format('embedded-opentype'),
        url('FromtheWoods-Regular.woff2') format('woff2'),
        url('FromtheWoods-Regular.woff') format('woff'),
        url('FromtheWoods-Regular.ttf') format('truetype'),
        url('FromtheWoods-Regular.svg#FromtheWoods-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

